
.gridMenuBar
{
    top: 0px;
    height: 25px;
    position: absolute;
    width: 100%;
}
.tableContainer
{
    height: 34px;
    position: absolute;
    top: 0px;
    width: 100%;
}
div.stdTable
{
    width: 100%;
}
.ms-crm-CC-grid-All-0-LR
{
    left: 0px;
    right: 0px;
}
