.cnt
{
    width:300px;height:30px;top:0px;left:0px;position:absolute;white-space:nowrap;
    padding:0px;margin:0px;top:0px; display:inline-block;*display:inline;zoom:0;outline:none;vertical-align: top;
overflow: hidden; display: inline-block; cursor: default;

}