

TEXTAREA
{
width: 100%;
resize: none;
overflow:auto;
}

INPUT
{
width: 100%;
}



INPUT.radio
{
height:				20px;
}

TEXTAREA.ms-crm-ReadOnly,
INPUT.ms-crm-ReadOnly,
.ms-crm-Input
{
border: 0px;
margin: 0px;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;


padding-right: 0px;

}

INPUT.ms-crm-ReadOnlyDateTime
{
background-color: #FFFFFF;
color: #000000;
border: 0px;
margin: 0px;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;


padding-right: 0px;

}

.ms-crm-hidden-container
{
display:none;
}

.ms-crm-Input-Container
{
padding: 1px;
background-color:#ffffff;
border-width: 1px;
border-style: solid;
}
.ms-crm-DateTime-Container-Input
{


padding-left: 5px;

}

TABLE.ms-crm-DateTime .ms-crm-DateTime-Container
{
overflow: hidden;
}
.ms-crm-Input-Container-ReadOnly
{
border-top-width:2px;
border-top-color:#696969;

border-left-width:2px;
border-left-color:#696969;

}
td.DateTimeUI_RenderDateControl_td TEXTAREA.ms-crm-ReadOnly,
td.DateTimeUI_RenderDateControl_td INPUT.ms-crm-ReadOnly,
td.DateTimeUI_RenderDateControl_td .ms-crm-ReadOnly
{
padding-bottom:2px;
width:90%;

margin-right:4px;

}
.ms-crm-IE7-Texarea-Container{
position:relative;
height: 100%;
}
.ms-crm-IE7-Texarea{
position:absolute;
top:0px;
bottom:0px;
left:0px;
right:0px;
padding:0px;
}
.ms-crm-IE7-td-Texarea-Container{
position:absolute;
top:3px;
bottom:2px;

left:3px;
right:2px;

}
INPUT.ms-crm-RadioButton
{

margin-left: 8px;
margin-right: 3px;

width: 15px;
border: 0px;
cursor: pointer;
vertical-align: middle;
margin-top: 0px;
}

DIV.ms-crm-RadioButton
{

}

INPUT.ms-crm-Email-Address,
INPUT.ms-crm-LiveId-Email-Address
{
text-decoration: underline;

direction: ltr ;

}

INPUT.ms-crm-Ticker
{
color: #0000ff;
text-decoration: underline;
}



INPUT.ms-crm-CheckBox
{
margin-top: 1px;
border: 0px;
width: 16px;

}

INPUT.ms-crm-Url
{
text-decoration: underline;


}

INPUT.ms-crm-Number
{


}

INPUT.ms-crm-Money
{

direction:ltr;
border-left-width: 0px;

}

BUTTON.ms-crm-Button
{
overflow: visible;


min-width: 84px;
width: auto;
white-space:nowrap;
}

TABLE.ms-crm-DateTime
{

}

TABLE.ms-crm-DateTime TR
{
vertical-align : middle;
}

TABLE.ms-crm-Money
{

}

INPUT.ms-crm-Text
{

}

DIV.ms-crm-IL-MRU-Header,
DIV.ms-crm-IL-Header
{
background-color:	#FFFFFF;
border-top: 	1px solid #c6c6c6;
border-right: 	1px solid #c6c6c6;
border-left: 	1px solid #c6c6c6;
height:			11px;
font-family: Segoe UI;
font-size: 11px;
color: #666666;
padding-top: 5px;
padding-bottom: 5px;

padding-left: 6px;

}

DIV.ms-crm-IL-MRU-Footer
{
background-color:	#FFFFFF;
border-right: 	1px solid #c6c6c6;
border-left: 	1px solid #c6c6c6;
height:	11px;
font-family: Segoe UI;
font-size: 11px;
color: #666666;
padding-top: 5px;
padding-bottom: 5px;
text-align:center;
}

DIV.ms-crm-IL-Footer
{
background-color:	#FFFFFF;
border-right: 		1px solid #c6c6c6;
border-bottom: 		1px solid #c6c6c6;
border-left: 		1px solid #c6c6c6;
padding:			0px 6px;
height:				22px;
}

UL.ms-crm-InlineLookupEdit
{
font-size:	12px;
width:	100%;
overflow-x:	hidden;

float:	left;
text-align:	left;

}

TD.ms-crm-InlineLookupEdit-Box
{
width:	5px;
}

IMG.ms-crm-InlineLookupEdit
{
cursor:	pointer;
vertical-align:	middle;
border-top:	#c6c6c6 1px solid;
border-bottom:	#c6c6c6 1px solid;
padding-top:	1px;
padding-bottom:	1px;
height:		18px !important;

border-right:	#c6c6c6 1px solid;

}

DIV.ms-crm-InlineLookupEdit
{
height:		15px !important;
padding-top: 2px;
padding-bottom: 3px;

padding-left:	5px;
margin-left:	-1px;

}

INPUT.ms-crm-InlineLookupEdit
{
height:		15px !important;

margin-left:	-1px;

}

.processStepValue DIV.ms-crm-InlineLookupEdit
{
padding-top:	1px;
padding-bottom:	1px;
height:		16px !important;
}

.processStepValue INPUT.ms-crm-InlineLookupEdit
{
height:		16px !important;
}

.processStepValue IMG.ms-crm-InlineLookupEdit
{
height:		18px !important;
padding-top:	0px;
padding-bottom:	0px;
}

DIV.ms-crm-InlineLookup-FooterSection-TopResults
{

float:left;

text-align:left;


width: 45%;
color: #444444;
padding: 4px 0px;
}

DIV.ms-crm-InlineLookup-FooterSection-AddNew
{

float:right;

text-align:right;

padding: 4px 2px 0px 4px;


width: 45%;
}

IMG.ms-crm-InlineLookup-FooterSection-AddImage
{
height: 10px;
width: 10px;


padding-right: 4px;

}
A.ms-crm-InlineLookup-FooterSection-AddAnchor
{
color: #262626;
}
A.ms-crm-InlineLookup-FooterSection-AddAnchor-Selected
{
background-color:	#D7EBF9;
}

SPAN.ms-crm-Lookup-Item
{
margin-top: -1px;
cursor:	pointer;
margin-left: 1px;
margin-right: 1px;
}

A.ms-crm-List-Link:hover
{
text-decoration: underline;
}

.ms-crm-SubGrid-InlineEdit-Anchor
{
text-decoration: None;
}

.ms-crm-SubGrid-InlineEdit-Span
{
text-decoration: None;
}

DIV.ms-crm-SubGrid-InlineEdit
{
position: relative;
padding: 0px;
margin: 0px;
background-color: rgb(0,0,0,0);
}

DIV.ms-crm-SubGrid-InlineEdit-Nobr-Div
{
overflow: hidden;
text-overflow: ellipsis;
}

DIV.ms-crm-SubGrid-InlineEdit:hover
{
background-color: white;
}

SPAN.ms-crm-Lookup-DialogItem
{
margin-top: -1px;
color: #000000;
cursor:	pointer;
margin-left: 1px;
margin-right: 1px;
}

SPAN.ms-crm-Lookup-SelectedDialogItem
{
margin-top: -1px;
cursor:	pointer;
background-color: #a7cdf0;
color: #000000;
margin-left: 1px;
margin-right: 1px;
}

SPAN.ms-crm-Lookup-SelectedDialogItem-NoFocus
{
margin-top: -1px;
cursor:	pointer;
background-color: #cdcdcd;
color: #000000;
margin-left: 1px;
margin-right: 1px;
}

SPAN.ms-crm-Lookup-Item-NonEntity
{
margin-top: -1px;
color: #000000;
text-decoration: none;
cursor:	default;

padding-left: 1px;

word-break: break-all;
}

SPAN.ms-crm-Lookup-Ambiguous,
SPAN.ms-crm-Lookup-PartyItem-NoAddress,
SPAN.ms-crm-Lookup-PartyItem-Unresolved,
SPAN.ms-crm-Lookup-Unresolved
{
color:				#ff0000;
text-decoration:	underline;
cursor:				pointer;
}

SPAN.ms-crm-Inline-LookupItem-Ambiguous-Name
{
text-decoration:	underline;
}

IMG.ms-crm-Lookup-Item
{
vertical-align:		middle;

margin-left:		2px;
margin-right:		5px;

}

IMG.ms-crm-Lookup-PresenceItem
{
height:				12px;
width:				12px;
margin-top:		    1px;
vertical-align:		middle;

margin-left:		2px;
margin-right:		5px;

}

DIV.ms-crm-FloatLookup
{
position: absolute;
height: 50px!important;
}
INPUT.ms-crm-LookupNormal
{
margin-top: -1px;
margin-bottom: -1px;
}

DIV.ms-crm-Lookup
{
overflow-y:			hidden;
overflow-x:         hidden;
outline:            none;
word-wrap:			break-word;
height:				18px;
background:			window;
width:				100%;
}

DIV.ms-crm-Lookup-Party
{
overflow-y: auto;
width: 100%;
word-wrap: break-word;
background: window;
height: 20px;
padding-top: 2px;
}

DIV.ms-crm-Lookup-DisplayOnly
{
height:				80px;
}

TABLE.ms-crm-Lookup
{

}

DIV.ms-crm-ReadOnly
{
overflow-y:			auto;
height:				18px;
width:				100%;
background-color:	#FFFFFF;
border-color:		#C5C5C5;
}

DIV.ms-crm-Lookup-Required
{
background-color:	;
}

DIV.ms-crm-Lookup-Recommended
{
background-color:	;
}

IMG.ms-crm-Lookup
{
cursor:				pointer;

}

IMG.ms-crm-Lookup-Party
{
cursor:				pointer;

}

IMG.ms-crm-Lookup-TransactionCurrency
{
cursor:				pointer;

}

IMG.ms-crm-DateTime
{
cursor:				pointer;
}

IFRAME.ms-crm-Custom
{
width:				99.5%;
height:				100%;
border-width:		1px;
border-style:		solid;
}

IFRAME.ms-crm-Email-Body
{
background-color:	#ffffff;
height:				100%;
width:				100%;
overflow:			auto;
border-width:		0px;
}
TD.ms-crm-Email-Body
{
border-width:		1px;
border-style:		solid;
}

TABLE.ms-crm-Email-Body {}

TABLE.ms-crm-Email-Body-Error
{
background-color:	#ffffae;
border:				1px solid #c5c5c5;
width:				100%;
table-layout:		fixed;
padding-top:		20px;
padding-bottom:		20px;
}


SPAN.ms-crm-DataSlugBody
{
border:	1px solid #c5c5c5;
background-color: #FFFFFF;
overflow-y: auto;
}

SPAN.ms-crm-DataSlugBodySingleSlug
{
border:	1px solid #c5c5c5;
background-color: #FFFFFF;
overflow: hidden;
}

SPAN.ms-crm-DataSlug
{
background-color: #FFFF33;
height: 17px;
padding-top: 1px;
padding-right: 2px;
padding-left: 2px;
overflow: hidden;
margin-bottom: 0px;
vertical-align: middle;
}

td.ms-crm-Money-CurrencySymbol
{
text-align: center;

border-top-width: 1px;
border-right-width: 0px;
border-bottom-width: 1px;

border-left-width: 1px;

border-style: solid;
border-right-style:inset;

border-color: #e2e3ea;
border-top-color: #abadb3;

width: 1px;
white-space:nowrap;
}

td.ms-crm-CurrencySymbol-Refresh
{
text-align: center;
padding-right: 2px;
padding-left: 2px;

width: 1px;
white-space:nowrap;
word-wrap: normal;
}

.ms-crm-CurrencyTable-Refresh
{
width: 95%;
white-space:nowrap;

}

.ms-crm-Money .ms-crm-Input-Container
{

border-left-width: 0;
padding-left: 0px;
}

span.ms-crm-Money-CurrencySymbol
{
padding-right:1px;
}

DIV.ms-crm-CheckBoxList
{
height: 100%;
overflow: auto;
width: 100%;
}

DIV.ms-crm-NextButton
{
padding: 5px;
}

IMG.ms-crm-NextButton
{

vertical-align: middle;
}

SPAN.ms-crm-NextButton
{

padding-left: 10px;
color:  #15428B;
}

A.ms-crm-NextButton-Disabled
{
cursor: default;
}

TABLE.ms-crm-ReportControl
{
background-color: #FFFFFF;
border-left: 1px solid #6893CF;
border-top: 2px solid #6893CF;
border-right: 1px solid #6893CF;
border-bottom: 1px solid #6699CC;
}

BUTTON#btnRemoveValue
{
width: auto;
}

.crm-divLeft
{

float:left;
padding-left: 2%;
text-align: left;

width: 48%;
padding-top:1%;
padding-bottom:1%;
}
.crm-divRight
{

float:right;
padding-left: 2%;
text-align: left;

width: 48%;
padding-top:1%;
padding-bottom:1%;
}
input[type="text"]:disabled,
textarea:disabled,
select:disabled,
option:disabled {
color: #666666;
}

input.ms-crm-SelectBox:disabled{
color:#666666;
}

td.AppAttachment_Render_td6,
td.AppAttachment_Render_td5
{

padding-left:3px;
text-align: left;

}

.RTE_list_style_position
{
list-style-position:inside;
}

INPUT.ms-crm-Url.ms-crm-ReadOnly,
INPUT.ms-crm-Email-Address.ms-crm-ReadOnly
{
color:#666666;
}

INPUT.ms-crm-Phone
{

direction:ltr;
border-left-width: 0px;

}


.ms-crm-Inline-Chrome
{
width: 100%;
position:relative;
}

.ms-crm-Inline-Chrome:focus, .ms-crm-Inline-Chrome *:focus
{
outline: none;
}

#lost-competitor .ms-crm-Inline-Edit.ms-crm-Inline-Lookup
{

margin-right: 5px;
margin-right: 6px \0/;

}

#_lost_revenue .ms-crm-Inline-Edit.ms-crm-Inline-Currency,
#_won_revenue .ms-crm-Inline-Edit.ms-crm-Inline-Currency
{

margin-right: -2px;
margin-right: 0px \0/;

}

.ms-crm-Inline-DateTimeSpacer
{
padding-right: 9px;
}

.processStepValue .ms-crm-Inline-Value,
.processStepValue .ms-crm-Inline-Edit input.ms-crm-InlineInput
{
padding-top: 1px;
padding-bottom: 1px;
}

.processStepValue .ms-crm-Inline-Value span.ms-crm-Lookup-Item-Read,
.processStepValue .ntext .ms-crm-Inline-Value
{
height: 16px;
}

.processStepValue .ntext .ms-crm-Inline-Value.ms-crm-Inline-EditHintState
{
margin-right: 0px;
margin-bottom: 0px;
}

.processStepValue .ms-crm-Inline-Value span.ms-crm-Lookup-Item-Read img
{
margin-top: -1px
}

.processStepValue .ms-crm-Inline-Edit ul.ms-crm-InlineLookupEdit img
{
margin-top: -1px
}

.ms-crm-Inline-Value,
.ms-crm-Inline-Edit input.ms-crm-InlineInput
{
padding-top: 2px;
padding-bottom: 3px;


padding-right: 0px;

}

.ms-crm-Inline-Value
{
overflow: hidden;
white-space: nowrap;


text-align: left;
margin-left: 23px;
padding-left: 0px;

}

.ntext .ms-crm-Inline-Value
{
white-space: normal;
margin-right: 2px;
margin-bottom: 2px;
}

.ms-crm-Inline-DynamicGutter .ms-crm-Inline-Value
{

margin-left: 0px;

}

.ms-crm-Inline-Value.ms-crm-Inline-EditHintState
{
box-shadow: 1px 1px 2px #ccc;
}

.ms-crm-Inline-Value.ms-crm-Inline-EditHintState
{
padding-right: 5px;
padding-left: 5px;
}

.ms-crm-Inline-Value a,
.ms-crm-Inline-Value span
{
display: inline-block;
}

.ms-crm-Inline-Edit
{


margin-left: 23px;

margin-right: 6px;
margin-right: 7px \0/;

}

.ms-crm-Inline-DynamicGutter .ms-crm-Inline-Edit
{


margin-left: 0px;

}

.ms-crm-QuickAdd-FlyOut-Lookup-Control
{

margin-left: 0px;

}

.ms-crm-Inline-Edit.ms-crm-Inline-Currency
{


margin-right: 2px;

}

.ms-crm-Inline-Value,
.ms-crm-Inline-Edit input.ms-crm-InlineInput,
.ms-crm-Inline-Edit input.ms-crm-Input
{
font-family:Segoe UI;
font-weight : 500;
color: #000000;
font-size: 12px;
}

.ms-crm-Inline-Value.ms-crm-Inline-Lookup span.ms-crm-Lookup-Item-Read
{
color: #000000;
}

.ms-crm-Inline-Edit input.ms-crm-InlineInput
{

padding-left: 4px;
padding-left: 5px \0/;
F
}

.ms-crm-FormSection tr td.ms-crm-FieldLabel-LeftAlign
{
padding-top: 5px;
color: #444444;
}

div.ms-crm-FieldLabel-LeftAlign
{
color: #444444;
}

.ms-crm-InlineEditLabel
{
color: #666666;
display: block;
white-space: nowrap;
overflow: hidden;
position: relative;
}

.ms-crm-InlineEditLabel .ms-crm-Inline-RequiredLevel
{
position: absolute;
z-index: 10;
}

.ms-crm-Inline-Value
{
border: 1px solid transparent;
}

.ms-crm-Inline-Value.ms-crm-HeaderTile
{
color: #000000;
margin: 0px 6px 0 6px;
padding: 0;
font-size: 15px;
height: 20px;
overflow: hidden;
}

.ms-crm-Inline-Value.ms-crm-HeaderTile .ms-crm-Lookup-Item-Read img.ms-crm-Lookup-Item
{
display:none;
}

.ms-crm-Inline-Value.ms-crm-HeaderTile .ms-crm-Lookup-Item-Read
{
display: inline-block;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile .Lookup_RenderButton_td img
{
background-color: #FFFFFF;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile
{
margin: 1px 6px 0 2px;
margin: 2px 7px 0 2px\9;
*margin: 2px 6px 0 2px\9;
}

:root .ms-crm-Inline-Edit.ms-crm-HeaderTile
{
margin: 1px 7px 0 2px \0/IE9;
}


.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-Lookup
{
margin: 0 2px 0 2px;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-Currency
{
margin: 1px -1px 0px 1px;
margin: 2px 1px 0px 1px\9;
*margin: 2px -4px 0px 1px\9;
}

@-moz-document url-prefix() {
.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-Currency{
margin: 1px 0px 0px 1px;
}
}

:root .ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-Currency
{
margin: 1px 1px 0px 1px \0/IE9;
}

.ms-crm-Inline-Edit.ms-crm-Inline-OptionSet
{

height:22px;
height:23px \0/;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-OptionSet
{
margin: 3px 2px 0 2px;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-OptionSet.noScroll
{
overflow: visible;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile select.ms-crm-SelectBox
{
margin: 0;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile input.ms-crm-InlineInput
{
padding-top: 2px;
padding-top: 1px \0/;
padding-bottom: 2px;

border: none;
}

.ms-crm-Inline-Value.ms-crm-HeaderTile.ms-crm-Inline-HasError,
.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-HasError,
.ms-crm-Inline-DynamicGutter .ms-crm-Inline-Value.ms-crm-Inline-HasError,
.ms-crm-Inline-DynamicGutter .ms-crm-Inline-Edit.ms-crm-Inline-HasError,
.ms-crm-Inline-DynamicGutter .ms-crm-Inline-Value.ms-crm-Inline-Locked,
.ms-crm-Inline-Value.ms-crm-HeaderTile.ms-crm-Inline-Locked
{

margin-left: 23px;

}

.ms-crm-Inline-Value.ms-crm-HeaderTile.ms-crm-Inline-HasError,
.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-HasError
{

margin-right: 6px;

}

.ms-crm-Inline-Edit.ms-crm-HeaderTile.ms-crm-Inline-Currency.ms-crm-Inline-HasError
{

margin-right: 1px;

}

.ms-crm-HeaderTileLabel
{
margin: 4px 7px 0 7px;
font-size: 12px;
color: #444444;
}

textarea.ms-crm-InlineInput
{
border: 1px solid #CCCCCC;
margin: 0;
padding: 2px 5px 3px 5px;
font-size: 12px;
display: block;
width: auto;
}

.ms-crm-Inline-Edit input.ms-crm-InlineInput
{
border: 1px solid #CCCCCC;
margin: 0;
}

.ms-crm-InlineInput::-ms-clear
{
display: none;
}

.ms-crm-Inline-Edit select.ms-crm-SelectBox
{
font-size: 12px;
border: 1px solid #CCCCCC;
margin: 1px 0 0 0;
width: 100%;



margin-left: 1px;
margin-left: 2px \0/;

}

.ms-crm-Inline-EmptyValue,
.processStep.emptyValue .bit .ms-crm-Inline-Value
{
font-family: Segoe UI Semibold;
}

.ms-crm-Inline-EmptyValue
{
font-size: 12px;
color: #000000;
}

.ms-crm-HeaderTileElement .ms-crm-Inline-EmptyValue
{
font-style: normal;
color: #444444;
}

.processStepValue .ms-crm-Inline-EmptyValue
{
text-transform: lowercase;
color: #1160b7;
font-style: italic;
}

.ms-crm-Inline-EditHintState
{
border: 1px solid #CCCCCC;
background-color: #F3F1F1;
}

.ms-crm-Inline-toggleclickState
{
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
}

.ms-crm-Inline-Validation
{
position: absolute;
z-index: 120000;
background-color: #FFFFFF;
border: 1px solid;
border-color: #D6D6D6;
width: 300px;
padding-top: 2px;
padding-bottom: 2px;

padding-left: 5px;

font-size:12px;
color:#262626;
font-family:Segoe UI;
}

.ms-crm-Inline-WarningIcon, .ms-crm-Inline-LockIcon
{
background: transparent none;
margin: 0;
padding: 0;
position: absolute;
z-index: 10;
}

.ms-crm-Inline-WarningIcon
{

left: 5px;

top: 3px;
height: 16px;
}

.processStepValue .ms-crm-Inline-WarningIcon
{
bottom: -1px;
}

.ms-crm-Inline-LockIcon
{

left: 9px;

top: 3px;
}

#accountcquickform_name .ms-crm-Inline-LockIcon,
#contactcquickform_fullname .ms-crm-Inline-LockIcon
{
top: 6px;
}

.processStepValue .ms-crm-Inline-LockIcon
{
bottom: 0px;
}

.ms-crm-HeaderTileElement .ms-crm-Inline-WarningIcon
{

left: 5px;

bottom: 0px;
}

.ms-crm-HeaderTileElement .ms-crm-Inline-LockIcon
{

left: 7px;

bottom: 0px;
}

.ms-crm-Inline-ErrorArrowIcon
{
position: absolute;
z-index: 120000;
height :11px;
width : 12px;
margin-top: 1px;
*margin-top: 5px;
background-color: #FFFFFF;
}

.ms-crm-VerticalFlip
{
-moz-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
-ms-transform: scaleY(-1);
transfrom: scaleY(-1);
}

.ms-crm-VerticalFlipMargin
{
margin-top: -3px;
*margin-top: -2px;
margin-top: -4px\9;
}

.ms-crm-HeaderTileElement
{
background: #F4D89D;

margin-left: 4px;
float: left;

height: 42px;
width: 120px;
overflow: hidden;
}

.ms-crm-HeaderTileElement.noScroll
{
overflow: visible;
}

.ms-crm-HeaderTileElement.ms-crm-Inline-EditHintState
{
background: #E9AC30;
border: none;
}

.ms-crm-HeaderTilesWrapperElement
{
height: 42px;
position: absolute;

right: 0px;

}

.ms-crm-HeaderTilesWrapperLayoutElement
{
margin-top: -56px;
margin-bottom: 14px;

margin-left: 418px;

height: 42px;
position: relative;
}

.ms-crm-HeaderTilesTitleWrapperElement
{

padding-right: 496px;
margin-right: 418px;


min-width: 408px;
}

.inEdit .ms-crm-Inline-Chrome textarea {
position: relative;
width: 195px;
z-index: 10;
height: 150px;
overflow: auto;
word-wrap: break-word;
}

.ie7 .inEdit .ms-crm-Inline-Chrome textarea {
width: 135px;
}

.processStepValue .ms-crm-Inline-Value {
white-space: nowrap;
}

.processStep.emptyValue .bit .ms-crm-Inline-Value {
color: #1160b7;
font-style: italic;
}

.processStep.emptyValue .bit.locked .ms-crm-Inline-Value,
.readonly .processStep.emptyValue .bit .ms-crm-Inline-Value {
color: #444;
font-style: normal;
}


.ms-crm-Inline-Edit.ms-crm-Inline-OptionSet.ms-crm-Inline-HideByZeroHeight,
.ms-crm-Inline-HideByZeroHeight {
height: 0;
overflow: hidden;
}


select.ms-crm-Inline-HideByZeroHeight-Ie7 {
*height: 0;
}

.ms-crm-InlineEditLabel div.ms-crm-Inline-GradientMask {

right: 1px;

}

div.ms-crm-Inline-EditIcon
{
position: absolute;
z-index: 2;
bottom: 0px;
display:none;

right: 6px;

}

.ms-crm-Inline-Value div.ms-crm-Inline-GradientMask {

right: 1px;

}

.ms-crm-InlineEditLabel div.ms-crm-Inline-GradientMask,
.ms-crm-Inline-Value div.ms-crm-Inline-GradientMask {
position: absolute;
width: 40px;
height: 20px;
z-index: 1;
top: 1px;
background: rgba(255, 255, 255, 0.25);

background: -moz-linear-gradient(

right,

rgb(255, 255, 255) 25%,
rgba(255, 255, 255, 0) 100%);

background: -webkit-gradient(
linear,

right,
left,

color-stop(25%, rgb(255, 255, 255)),
color-stop(100%, rgba(255, 255, 255, 0)));

background: -webkit-linear-gradient(

right,

rgb(255, 255, 255) 25%,
rgba(255, 255, 255, 0) 100%);

background: -o-linear-gradient(

right,

rgb(255, 255, 255) 25%,
rgba(255, 255, 255, 0) 100%);

background: -ms-linear-gradient(

right,

rgb(255, 255, 255) 25%,
rgba(255, 255, 255, 0) 100%);

filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#40FFFFFF',
endColorstr='#FFFFFF',
GradientType=1);

background: linear-gradient(

right,

rgb(255, 255, 255) 25%,
rgba(255, 255, 255, 0) 100%);
}

.money .ms-crm-Inline-Value div.ms-crm-Inline-GradientMask {

}

.money .ms-crm-Inline-Value.ms-crm-Inline-EmptyValue div.ms-crm-Inline-GradientMask {

}

.ms-crm-HeaderTileElement .money .ms-crm-Inline-Value.ms-crm-HeaderTile div.ms-crm-Inline-GradientMask {

}

.ms-crm-HeaderTileElement.ms-crm-Inline-EditHintState .money .ms-crm-Inline-Value.ms-crm-HeaderTile div.ms-crm-Inline-GradientMask {

}

.ms-crm-HeaderTileElement .money .ms-crm-Inline-Value.ms-crm-HeaderTile.ms-crm-Inline-EmptyValue div.ms-crm-Inline-GradientMask {
background: rgba(244, 216, 157, 0.15);


}

.ms-crm-HeaderTileElement.ms-crm-Inline-EditHintState .money .ms-crm-Inline-Value.ms-crm-HeaderTile.ms-crm-Inline-EmptyValue div.ms-crm-Inline-GradientMask {
background: rgba(233, 172, 48, 0.15);


}

.ms-crm-HeaderTileElement .ms-crm-Inline-Value.ms-crm-HeaderTile div.ms-crm-Inline-GradientMask {
position: absolute;
width: 40px;
height: 24px;
z-index: 1;
top: 0px;

right: 7px;

}

.ms-crm-HeaderTileElement .ms-crm-Inline-Value.ms-crm-HeaderTile div.ms-crm-Inline-GradientMask,
.ms-crm-HeaderTileElement .ms-crm-InlineEditLabel div.ms-crm-Inline-GradientMask {
background: rgba(244, 216, 157, 0.15);

background: -moz-linear-gradient(

right,

rgb(244, 216, 157) 15%,
rgba(244, 216, 157, 0) 100%);

background: -webkit-gradient(
linear,

right,
left,

color-stop(15%, rgb(244, 216, 157)),
color-stop(100%, rgba(244, 216, 157, 0)));

background: -webkit-linear-gradient(

right,

rgb(244, 216, 157) 15%,
rgba(244, 216, 157, 0) 100%);

background: -o-linear-gradient(

right,

rgb(244, 216, 157) 15%,
rgba(244, 216, 157, 0) 100%);

background: -ms-linear-gradient(

right,

rgb(244, 216, 157) 15%,
rgba(244, 216, 157, 0) 100%);

filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#03F4D89D',
endColorstr='#F4D89D',
GradientType=1);

background: linear-gradient(

right,

rgb(244, 216, 157) 15%,
rgba(244, 216, 157, 0) 100%);
}

.ms-crm-HeaderTileElement.ms-crm-Inline-EditHintState .ms-crm-Inline-Value.ms-crm-HeaderTile div.ms-crm-Inline-GradientMask,
.ms-crm-HeaderTileElement.ms-crm-Inline-EditHintState .ms-crm-InlineEditLabel div.ms-crm-Inline-GradientMask {
background: rgba(233, 172, 48, 0.15);

background: -moz-linear-gradient(

right,

rgb(233, 172, 48) 15%,
rgba(233, 172, 48, 0) 100%);

background: -webkit-gradient(
linear,

right,
left,

color-stop(15%, rgb(233, 172, 48)),
color-stop(100%, rgba(233, 172, 48, 0)));

background: -webkit-linear-gradient(

right,

rgb(233, 172, 48) 15%,
rgba(233, 172, 48, 0) 100%);

background: -o-linear-gradient(

right,

rgb(233, 172, 48) 15%,
rgba(233, 172, 48, 0) 100%);

background: -ms-linear-gradient(

right,

rgb(233, 172, 48) 15%,
rgba(233, 172, 48, 0) 100%);

filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#03E9AC30',
endColorstr='#E9AC30',
GradientType=1);

background: linear-gradient(

right,

rgb(233, 172, 48) 15%,
rgba(233, 172, 48, 0) 100%);
}

.ms-crm-InlineDateTime {
table-layout: fixed;
width: 100%;
border-collapse: collapse;
}

.ms-crm-InlineDateTime-HiddenCell {
display: none;
}

.ms-crm-InlineDateTime-IconCell, .ms-crm-InlineDuration-IconCell {
border: 1px solid #CCCCCC;
font-size:0;
line-height:0;
}

.ms-crm-Inline-Edit.ms-crm-HeaderTile .ms-crm-InlineDateTime-IconCell
{
background-color: #FFFFFF;
}

.ms-crm-InlineDateTime-Icon, .ms-crm-InlineDuration-Icon {
border: 1px solid transparent;
}

.ms-crm-InlineDateTime-Icon:hover, .ms-crm-InlineDuration-Icon:hover {
border: 1px solid #859CC2;
}

.ms-crm-InlineDateTime-TimeCell {
border: 1px solid #CCCCCC;
}

.ms-crm-InlineDuration-InputTable {
table-layout: fixed;
border-collapse: collapse;
width: 100%;
}

.ms-crm-InlineDuration-Icon {
cursor: pointer;
}

.ms-crm-InlineDuration-InputTable .ms-crm-Select-Input-Container,
.ms-crm-InlineDuration-InputTable .ms-crm-InlineDuration-IconCell {
border: 1px solid #CCCCCC;
}

.ms-crm-InlineDateTime .ms-crm-Select-Input-Container,
.ms-crm-InlineDateTime .ms-crm-InlineDuration-IconCell {
border: 0;
}

.ms-crm-Select-Input-Container
{

}

.ms-crm-InlineDateTime .ms-crm-InlineDuration-InputTable .ms-crm-InlineDuration-IconCell {

border-left: 1px solid #CCCCCC;

}

.ms-crm-Inline-OptionSet-AutoOpen {
position: relative;
z-index: 10000;
}

